* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans";
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --head_textcolor: #333;
  --head_bgcolor: #cad8db59;
}
body {
  --head_textcolor: #333;
  --head_bgcolor: #e1e1e1f1;
  --sidebar_bgcolor: #000000e0;
  --sidebar_textcolor: #f5f5f5;
  --hero_bgcolor: #f2f2ee;
  --hero_titlecolor: #c94a9a;
  --hero_btncolor: #c32921;
  --vision_bg: #eef3f9;
  --theme_color:#757575;
  --primary-color1:#ffffff;
}
body,main{
  overflow-x: clip;
}
body{
  background-image: linear-gradient(1.46deg, rgba(255, 219, 112, 0.3) -43.08%, rgba(202, 216, 219, 0.3) 82.53%), url(../img/primary-background.png);
  background-attachment: fixed;
}

.head {
  padding: 0.3rem;
  color: var(--head_textcolor);
  background-color: var(--head_bgcolor);
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
.head .sidebar {
  font-size: 24px;
  /* display: flex; */
  justify-content: center;
  display: none;
  align-items: center;
}
.head .sidebar i {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.3rem 0.6rem;
  transition: all 0.3s ease;
}
.head .sidebar i:hover {
  cursor: pointer;
  opacity: 0.8;
  scale: 0.95;
}
.head .logo {
  height: 80px;
  width: 80px;
  margin-left: 60px;
}
.head .logo:hover {
  cursor: pointer;
}
.head .logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.head_cont1 .logo:hover {
  cursor: pointer;
}
.head .head_cont2 {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.head .head_cont2 a {
  text-decoration: none;
  color: var(--head_textcolor);
  font-weight: 700;
  font-size: 18px;
}
.head_cont2 .panel {
  display: flex;
  gap: 5px;
  position: relative;
}
.head_cont2 .panel i {
  font-size: 20px;
  align-items: center;
}

.head_cont2 .panel::after {
  content: "";
  bottom: -7px;
  left: 0;
  height: 3px;
  position: absolute;
  width: 0;
  border-radius: 5px;
  transition: width 0.4s ease-in;
  background-color: var(--head_textcolor);
}
.head_cont2 .panel:hover::after {
  width: 105%;
}
.head_cont2 .panel.active::after {
  content: "";
  bottom: -7px;
  left: 0;
  height: 3px;
  background-color: var(--head_textcolor);
  position: absolute;
  width: 105%;
  border-radius: 5px;
  transition: width 0.4s ease-in;
}
.head_cont2 .panel.active {
  color: var(--head_textcolor);
  font-weight: 800;
}

.head_cont2 .black-white_icon {
  font-size: 25px;
  margin-right: 20px;
}
.head_cont2 .black-white_icon:hover {
  cursor: pointer;
}
.Contact_cont{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  padding: 6rem;
}
.Contact_cont .sub_cont1{
  width: 80%;
  height: fit-content;
  /* margin-bottom: 40px; */
  margin-top: 40px;
  border-radius: 2px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  border: 1px solid rgba(159, 159, 159, 0.877);
}
.Contact_cont .sub_cont1 .head1{
  padding: 1.5rem;
  border-bottom: 1px solid rgba(159, 159, 159, 0.877);
  font-size: 40px;
  color: #1F2937;
}
.Contact_cont .main_con{
  display: flex;
  flex-direction: column;
  padding:1rem;
  padding-top: 2rem;
  padding-left: 30px;
}
.main_con .Contact_desc{
  background-color: #fff9bf;
  padding: 1.5rem;
  display: flex;
  gap: 20px;
  justify-content: center;
  color: #9d4600;
  border-radius: 4px;
  width: 96%;
}
.main_con .Contact_desc i{
  font-size: 32px;
}
.main_con .Contact_desc p{
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  margin-right: 40px;
}
form{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.8rem;
  /* gap: 1rem; */
  width: 100%;
}
form span{
  color: crimson;
}
form label{
  font-weight: 400;
  font-size: 17px;
}
form .input_cont{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 46%;
  width: 46%;
  margin-bottom: 35px;
  padding-right: 1rem;
}
form .input_cont #name{
  outline: none;
  height: 2.5rem;
  border: 0.05rem solid #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.8rem;
  border-radius: 5px;
  border: 1.3px solid rgba(123, 123, 123, 0.489);
  transition: all 0.3s ease;
  text-transform: capitalize;
}
form .input_cont #name:hover{
  border: 1.3px solid #fd7404;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}
form .input_cont1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 50%;
  width: 50%;
  margin-bottom: 35px;
}
form .input_cont1 #email{
  outline: none;
  height: 2.5rem;
  border: 0.05rem solid #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.8rem;
  border-radius: 5px;
  border: 1.3px solid rgba(123, 123, 123, 0.489);
  transition:all 0.3s ease;
}
form .input_cont1 #email:hover{
  border: 1.3px solid #fd7404;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}
form .input_cont2{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 96%;
  width: 96%;
  margin-bottom: 35px;
}
form .input_cont2 #subject{
  outline: none;
  height: 2.5rem;
  border: 0.05rem solid #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.8rem;
  border-radius: 5px;
  border: 1.3px solid rgba(123, 123, 123, 0.489);
  transition: all 0.3s ease;
  text-transform: capitalize;
}
form .input_cont2 #subject:hover{
  border: 1.3px solid #fd7404;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}
form .input_cont3{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 96%;
  width: 96%;
  margin-bottom: 45px;
  
}
form .input_cont3 #message{
  outline: none;
  height: 12rem;
  border: 0.05rem solid #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.8rem;
  border-radius: 5px;
  padding-top:0.7rem ;
  border: 1.3px solid rgba(123, 123, 123, 0.489);
  transition: all 0.3s ease;
  text-transform: capitalize;
}
form .input_cont3 #message:hover{
  border: 1.3px solid #fd7404;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.submit_btn{
  height: 2.5rem;
  width: 7rem;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f39140;
  color: #f97203;
  transition: all 0.3s ease;
  margin-bottom: 25px;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.submit_btn:hover{
  cursor: pointer;
  background-color: #fe7302;
  color: var(--primary-color1);
}
.popup{
  background-color: #ffdfb8f7;
  width: 23rem;
  text-align: center;
  height: 18rem;
  padding: 6rem 3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* font-family: "Poppins"; */
}
.popup.active{
  top: 50%;
  transform: translate(-60%,-45%);
}
.center{
  position: fixed;
  left: 50%;
}
.popup .popup_icon{
  font-size: 40px;
  color: #ff6400;
  width: 60px;
  height: 60px;
  border: 2px solid #ff6400;
  align-items: center;
  border-radius: 50%;
  line-height: 1.5;
}
.popup .popup_title{
  font-size: 30px;
  font-family: cursive;
  font-weight: 600;
  color: rgb(74, 74, 74);
  margin-bottom: 10px;
}
.popup .popup_desc{
  color: rgb(26, 25, 25);
  font-size: 18px;
  margin-bottom: 15px;
}
.popup .dismiss_btn button{
  height: 2.4rem;
  width: 5rem;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #ff6400;
  background-color: #fff;
  color: #ff6400;
  transition: all 0.3s ease;
}
.popup .dismiss_btn button:hover{
  background-color:#ff6400;
  color: #fff;
  cursor: pointer;
}
.foot {
  padding: 1.2rem;
  background-color: #1f2024;
  width: 100%;
  color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
}
.foot .company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  flex-wrap: wrap;
}
.foot .company-info a {
  text-decoration: none;
  color: #919191;
  margin-top: 10px;
  font-weight: 600;
}
.foot .company-info a:hover {
  color: rgba(116, 0, 142, 0.877);
}
.foot .copy-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 500;
  flex-wrap: wrap;
}
.foot .copy-right .icons {
  display: flex;
  gap: 13px;
}
.foot .copy-right .icons a {
  text-decoration: none;
  color: #919191;
  margin-top: 15px;
  font-size: 0.95rem;
}
.foot .copy-right .icons a.fa-facebook:hover {
  color: #1877f2;
}
.foot .copy-right .icons a.fa-instagram:hover {
  color: #e4405f;
}
.foot .copy-right .icons a.fa-youtube:hover {
  color: #ff0000;
}
.foot .copy-right .icons a.fa-twitter:hover {
  color: #ffffff;
}
.foot .credit {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  flex-wrap: wrap;
}
.foot .credit p {
  margin-top: 10px;
  font-weight: 600;
  color: #919191;
}
.foot .credit p:hover {
  color: rgba(116, 0, 142, 0.877);
  cursor: pointer;
}
.side_menu {
  background-color: var(--sidebar_bgcolor);
  height: 100vh;
  top: 100%;
  position: absolute;
  opacity: 0.98;
  width: 50%;
  left: -390px;
  padding: 1.5rem;
  transition: left 0.6s ease;
  display: none;
  border-top: 1px solid var(--head_bgcolor);
  /* backdrop-filter: blur(-100px); */
  box-shadow: 1px 0 8px rgba(0, 0, 0, 0.06);
}
.side_menu.active {
  left: 0;
}
.side_menu .menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.side_menu .menu a {
  text-decoration: none;
  color: var(--sidebar_textcolor);
  font-size: 20px;
  font-weight: 700;
  transition: color 0.4s;
}
.side_menu .menu a.active {
  color: #ff4800;
  font-size: 22px;
  font-weight: bolder;
}
.side_menu .menu a:hover {
  color: #ff4800;
}