@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 921px) {
  .head {
    padding: 0.2rem;
  }
  .head .logo {
    height: 70px;
    width: 70px;
  }
  .head .head_cont2 {
    gap: 80px;
    padding-right: 50px;
  }
  .head .head_cont2 a {
    font-size: 16px;
  }
  .head_cont2 .panel i {
    font-size: 18px;
  }
  .head_cont2 .black-white_icon {
    font-size: 23px;
  }
  .foot .company-info {
    font-size: 0.8rem;
  }
  .foot .copy-right {
    font-size: 0.8rem;
  }
  .foot .copy-right .icons a {
    font-size: 0.9rem;
  }
  .foot .credit {
    font-size: 0.8rem;
  }
  .hero_subtitle {
    font-size: 75px;
  }
  .hero_title {
    font-size: 145px;
  }
  .hero_description {
    font-size: 26px;
  }
  .main_content{
    padding-top: 78px;
  }
  .butterfly_section .butterfly_content .butterfly_body {
    height: 220px;
    width: 220px;
  }
  .butterfly_body .wing_content .wing_number {
    font-size: 4rem;
  }
  .butterfly_content .wing{
    height: 230px;
    width: 280px;
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 790px) {
  .head {
    padding: 0.3rem;
    justify-content: space-between;
  }
  .head .sidebar {
    display: flex;
    margin-left: 20px;
  }
  .head .sidebar i {
    border-radius: 5px;
    border: 1px solid var(--head_textcolor);
  }
  .head .logo {
    height: 70px;
    width: 70px;
    margin-left: 0;
  }
  .head_cont2 .panel {
    display: none;
  }
  .head .head_cont2 {
    padding-right: 20px;
  }
  .head_cont2 .black-white_icon {
    font-size: 25px;
  }
  .side_menu {
    display: block;
  }
  .hero_subtitle {
    font-size: 65px;
  }
  .hero_title {
    font-size: 130px;
  }
  .hero_description {
    font-size: 25px;
  }
  .butterfly_section .butterfly_content .butterfly_body {
    height: 200px;
    width: 200px;
  }
  .butterfly_body .wing_content .wing_number {
    font-size: 3rem;
  }
  .butterfly_content .wing{
    height: 210px;
    width: 260px;
    font-size: 1.2rem;
  }
  .butterfly_content .wing_top_left {
   transform: translate(38px, 80px);
  }
  .butterfly_content .wing_top_right {
   transform: translate(-38px, 80px);
  }
  .butterfly_content .wing_bottom_left {
   transform: translate(38px, -80px);
  }
  .butterfly_content .wing_bottom_right {
   transform: translate(-38px, -80px);
  }
  .butterfly_content .wing_top_left:hover{
   transform: translate(38px, 80px);
  }
  .butterfly_content .wing_top_right:hover {
   transform: translate(-38px, 80px);
  }
  .butterfly_content .wing_bottom_left:hover {
   transform: translate(38px, -80px);
  }
  .butterfly_content .wing_bottom_right:hover {
   transform: translate(-38px, -80px);
  }
}
@media only screen and (max-width: 730px) {
  .foot {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .foot .company-info a {
    margin-top: 2px;
  }
  .foot .credit p {
    margin-top: 2px;
  }
  .side_menu {
    display: block;
  }
  .side_menu .menu a {
    font-size: 19px;
  }
  .side_menu .menu a.active {
    font-size: 21px;
  }
  .butterfly_section .butterfly_content .butterfly_body {
    height: 180px;
    width: 180px;
  }
  .butterfly_body .wing_content .wing_number {
    font-size: 2.5rem;
  }
  .butterfly_body .wing_content .wing_text {
    font-size: 17px;
  }
  .butterfly_content .wing{
    height: 190px;
    width: 240px;
    font-size: 1.1rem;
  }
  .butterfly_content .wing_top_left {
   transform: translate(38px, 70px);
  }
  .butterfly_content .wing_top_right {
   transform: translate(-38px, 70px);
  }
  .butterfly_content .wing_bottom_left {
   transform: translate(38px, -70px);
  }
  .butterfly_content .wing_bottom_right {
   transform: translate(-38px, -70px);
  }
  .butterfly_content .wing_top_left:hover {
   transform: translate(38px, 70px);
  }
  .butterfly_content .wing_top_right:hover {
   transform: translate(-38px, 70px);
  }
  .butterfly_content .wing_bottom_left:hover {
   transform: translate(38px, -70px);
  }
  .butterfly_content .wing_bottom_right:hover {
   transform: translate(-38px, -70px);
  }
}
@media only screen and (max-width: 687px) {
  .hero_subtitle {
    font-size: 50px;
    line-height: 0.9;
  }
  .hero_title {
    font-size: 90px;
  }
  .hero_description {
    font-size: 23px;
    max-width: 26rem;
  }
  .butterfly_section .butterfly_content .butterfly_body {
    height: 160px;
    width: 160px;
  }
  .butterfly_body .wing_content .wing_number {
    font-size: 2rem;
  }
  .butterfly_body .wing_content .wing_text {
    font-size: 16px;
  }
  .butterfly_content .wing{
    height: 170px;
    width: 220px;
    font-size: 1rem;
  }
  .butterfly_content .wing_top_left {
   transform: translate(38px, 60px);
  }
  .butterfly_content .wing_top_right {
   transform: translate(-38px, 60px);
  }
  .butterfly_content .wing_bottom_left {
   transform: translate(38px, -60px);
  }
  .butterfly_content .wing_bottom_right {
   transform: translate(-38px, -60px);
  }
  .butterfly_content .wing_top_left:hover {
   transform: translate(38px, 60px);
  }
  .butterfly_content .wing_top_right:hover {
   transform: translate(-38px, 60px);
  }
  .butterfly_content .wing_bottom_left:hover {
   transform: translate(38px, -60px);
  }
  .butterfly_content .wing_bottom_right:hover {
   transform: translate(-38px, -60px);
  }
}
@media only screen and (max-width: 600px) {
  /* .butterfly_section {
    padding: 2rem;
  } */
  .butterfly_section .butterfly_content .butterfly_body {
    height: 140px;
    width: 140px;
  }
  .butterfly_body .wing_content .wing_number {
    font-size: 1.8rem;
  }
  .butterfly_body .wing_content {
    width: 120px;
  }
  .butterfly_body .wing_content .wing_text {
    font-size: 14px;
  }
  .butterfly_content .wing{
    height: 150px;
    width: 200px;
    font-size: 0.9rem;
  }
  .butterfly_content .wing_top_left {
   transform: translate(38px, 50px);
  }
  .butterfly_content .wing_top_right {
   transform: translate(-38px, 50px);
  }
  .butterfly_content .wing_bottom_left {
   transform: translate(38px, -50px);
  }
  .butterfly_content .wing_bottom_right {
   transform: translate(-38px, -50px);
  }
  .butterfly_content .wing_top_left:hover {
   transform: translate(38px, 50px);
  }
  .butterfly_content .wing_top_right:hover {
   transform: translate(-38px, 50px);
  }
  .butterfly_content .wing_bottom_left:hover {
   transform: translate(38px, -50px);
  }
  .butterfly_content .wing_bottom_right:hover {
   transform: translate(-38px, -50px);
  }
}
@media only screen and (max-width: 488px) {
  .foot .copy-right p {
    text-align: center;
  }
  .side_menu {
    display: block;
    width: 60%;
    padding: 1.5rem;
  }
  .side_menu .menu a {
    font-size: 18px;
  }
  .side_menu .menu a.active {
    font-size: 20px;
  }
  .hero_subtitle {
    font-size: 45px;
    line-height: 0.9;
    letter-spacing: -1px;
  }
  .hero_title {
    font-size: 80px;
  }
  .hero_description {
    font-size: 20px;
    max-width: 26rem;
  }
  .butterfly_section .butterfly_content .butterfly_body {
    height: 100px;
    width: 100px;
  }
  .butterfly_body .wing_content .wing_number {
    font-size: 1.4rem;
  }
  .butterfly_body .wing_content {
    width: 90px;
  }
  .butterfly_body .wing_content .wing_text {
    font-size: 10px;
  }
  .butterfly_content .wing{
    height: 110px;
    width: 150px;
    font-size: 0.7rem;
  }
  .butterfly_content .wing_top_left {
   transform: translate(40px, 30px);
  }
  .butterfly_content .wing_top_right {
   transform: translate(-40px, 30px);
  }
  .butterfly_content .wing_bottom_left {
   transform: translate(40px, -30px);
  }
  .butterfly_content .wing_bottom_right {
   transform: translate(-40px, -30px);
  }
  .butterfly_content .wing_top_left:hover {
   transform: translate(40px, 30px);
  }
  .butterfly_content .wing_top_right:hover {
   transform: translate(-40px, 30px);
  }
  .butterfly_content .wing_bottom_left:hover {
   transform: translate(40px, -30px);
  }
  .butterfly_content .wing_bottom_right:hover {
   transform: translate(-40px, -30px);
  }
}
