@media only screen and (max-width: 1200px) {
  .Project_section .project_head{
    font-size: 2.5rem;
  }
  .Project_section .project_container .project .project_title h2{
    font-size: 2.2rem;
  }
  .Project_section .project_container .project .project_content{
    padding: 1rem;
  }
  /* .project .project_content .project_content_media .media_displayer{
    height: 500px;
    width: 400px;
  } */
  .Project_section .project_container .project .project_content .project_description{
    font-size: 1.2rem;
    padding: 3rem 0rem;
  }
  .NGO_cont{
    gap: 90px;
  }
  .NGO_cont .SBSO{
   width: 62%;
   min-width:62%;
   height: 70vh;
  }
  .NGO_cont .SBSO::after{
    width: 35%;
    left: 30%;
  }
  .Contact_cont{
    padding: 5rem;
  }
  .Contact_cont .sub_cont1{
    width: 90%;
  }
  .Contact_cont .sub_cont1 .head1{
    font-size: 38px;
  }
  .main_con .Contact_desc i{
    font-size: 30px;
  }
  .main_con .Contact_desc p{
    font-size: 18px;
    margin-right: 35px;
  }
  form{
    margin-top: 2rem;
    /* gap: 0.8rem; */
  }
}
@media only screen and (max-width: 1000px) {
  .Project_section .project_head::before,
  .Project_section .project_head::after{
    content: "";
    width: 170px;
    position: absolute;
    top: 70%;
    height: 2px;
    background: #222;
  }
  .project .project_content .project_content_media .media_displayer{
    height: 450px;
    width: 350px;
  }
  .Project_section .project_container .project .project_content .project_description{
    font-size: 1.1rem;
    padding: 2rem 0rem;
  }
  .NGO_cont{
    gap: 80px;
  }
  .NGO_cont .SBSO{
   width: 58%;
   min-width:58%;
   height: 70vh;
  }
  .NGO_cont .SBSO::after{
    width: 32%;
    left: 31%;
  }
  .Contact_cont{
    margin-top: 50px;
    padding: 4rem;
    margin-bottom: 30px;
  }
  .Contact_cont .sub_cont1{
    width: 100%;
  }
  .Contact_cont .sub_cont1 .head1{
    font-size: 36px;
    padding: 1.5rem;
    text-align: center;
  }
  .Contact_cont .main_con{
    padding-top: 2rem;
  }
  .main_con .Contact_desc{
    padding: 1rem;
    width: 96%;
  }
  .main_con .Contact_desc i{
    font-size: 28px;
  }
  .main_con .Contact_desc p{
    font-size: 18px;
    margin-right: 18px;
  }
  form{
    margin-top: 2rem;
    /* gap: 0.8rem; */
  }
  form .input_cont{
    width: 46%;
    max-width: 46%;
    margin-bottom: 30px;
  }
  form .input_cont1{
    width: 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
  form .input_cont2{
    margin-bottom: 30px;
  }
  form label{
    font-size: 18px;
  }
  form input::placeholder{
    font-size: 16px;
  }
  form textarea::placeholder{
    font-size: 16px;
  }
  .submit_btn{
    width: 7rem;
    height:2.5rem ;
    font-size: 17px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 921px) {
  .head {
    padding: 0.2rem;
  }
  .head .logo {
    height: 70px;
    width: 70px;
  }
  .head .head_cont2 {
    gap: 80px;
    padding-right: 50px;
  }
  .head .head_cont2 a {
    font-size: 16px;
  }
  .head_cont2 .panel i {
    font-size: 18px;
  }
  .head_cont2 .black-white_icon {
    font-size: 23px;
  }
  .foot .company-info {
    font-size: 0.8rem;
  }
  .foot .copy-right {
    font-size: 0.8rem;
  }
  .foot .copy-right .icons a {
    font-size: 0.9rem;
  }
  .foot .credit {
    font-size: 0.8rem;
  }
  .hero_subtitle {
    font-size: 75px;
  }
  .hero_title {
    font-size: 145px;
  }
  .hero_description {
    font-size: 26px;
  }
  .main_content{
    padding-top: 78px;
  }
  .butterfly_section .butterfly_content .butterfly_body {
    height: 220px;
    width: 220px;
  }
  .butterfly_body .wing_content .wing_number {
    font-size: 4rem;
  }
  .butterfly_content .wing{
    height: 230px;
    width: 280px;
    font-size: 1.3rem;
  }
  .Project_section .project_head{
    font-size: 2.3rem;
  }
  .Project_section .project_head::before,
  .Project_section .project_head::after{
    content: "";
    width: 150px;
    position: absolute;
    top: 70%;
    height: 2px;
    background: #222;
  }
  .Project_section .project_container .project .project_title h2{
    font-size: 1.8rem;
    text-align: center;

  }
  .Project_section .project_container .project .project_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .project .project_content .project_content_media .media_displayer{
    height: 500px;
    width: 400px;
  }
  .project .project_content .project_content_media .media_displayer .media_cont{
    min-width: 380px;
  }
  .Project_section .project_container .project .project_content .project_description{
    font-size: 1.2rem;
    padding: 1rem 1rem;
  }
  
  .NGO_cont{
    gap: 75px;
  }
  .NGO_cont .SBSO{
   width: 65%;
   min-width:65%;
   height: 65vh;
  }
  .NGO_cont .SBSO::after{
    width: 32%;
    left: 31%;
  }
}
@media only screen and (max-width: 790px) {
  .head {
    padding: 0.3rem;
    justify-content: space-between;
  }
  .head .sidebar {
    display: flex;
    margin-left: 20px;
  }
  .head .sidebar i {
    border-radius: 5px;
    border: 1px solid var(--head_textcolor);
  }
  .head .logo {
    height: 70px;
    width: 70px;
    margin-left: 0;
  }
  .head_cont2 .panel {
    display: none;
  }
  .head .head_cont2 {
    padding-right: 20px;
  }
  .head_cont2 .black-white_icon {
    font-size: 25px;
  }
  .side_menu {
    display: block;
  }
  .hero_subtitle {
    font-size: 65px;
  }
  .hero_title {
    font-size: 130px;
  }
  .hero_description {
    font-size: 25px;
  }
  .butterfly_section .butterfly_content .butterfly_body {
    height: 200px;
    width: 200px;
  }
  .butterfly_body .wing_content .wing_number {
    font-size: 3rem;
  }
  .butterfly_content .wing{
    height: 210px;
    width: 260px;
    font-size: 1.2rem;
  }
  .butterfly_content .wing_top_left {
   transform: translate(38px, 80px);
  }
  .butterfly_content .wing_top_right {
   transform: translate(-38px, 80px);
  }
  .butterfly_content .wing_bottom_left {
   transform: translate(38px, -80px);
  }
  .butterfly_content .wing_bottom_right {
   transform: translate(-38px, -80px);
  }
  .butterfly_content .wing_top_left:hover{
   transform: translate(38px, 80px);
  }
  .butterfly_content .wing_top_right:hover {
   transform: translate(-38px, 80px);
  }
  .butterfly_content .wing_bottom_left:hover {
   transform: translate(38px, -80px);
  }
  .butterfly_content .wing_bottom_right:hover {
   transform: translate(-38px, -80px);
  }
  .Project_section .project_head{
    font-size: 2.1rem;
  }
  .Project_section .project_head::before,
  .Project_section .project_head::after{
    content: "";
    width: 130px;
    position: absolute;
    top: 70%;
    height: 2px;
    background: #222;
  }
  .Project_section .project_container .project .project_title h2{
    font-size: 1.7rem;
    text-align: center;

  }
  .Project_section .project_container .project .project_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .project .project_content .project_content_media .media_displayer{
    height: 480px;
    width: 380px;
  }
  .project .project_content .project_content_media .media_displayer .media_cont{
    min-width: 355px;
  }
  .Project_section .project_container .project .project_content .project_description{
    font-size: 1.2rem;
    padding: 1rem 1rem;
  }
  .NGO_cont{
    gap: 70px;
    margin-bottom: 80px;
  }
  .NGO_cont .SBSO{
   width: 60%;
   min-width:60%;
   height: 60vh;
  }
  /* .SBSO::after{
    width: 32%;
    left: 31%;
  } */
  .Contact_cont{
    margin-top: 50px;
    padding: 3rem;
    margin-bottom: 30px;
  }
  .Contact_cont .sub_cont1{
    width: 100%;
  }
  .Contact_cont .sub_cont1 .head1{
    font-size: 32px;
    padding: 1.5rem;
  }
  .Contact_cont .main_con{
    padding-top: 2rem;
  }
  .main_con .Contact_desc{
    padding: 1rem;
    width: 96%;
  }
  .main_con .Contact_desc i{
    font-size: 26px;
  }
  .main_con .Contact_desc p{
    font-size: 16px;
    margin-right: 16px;
  }
  form{
    margin-top: 2rem;
    /* gap: 0.8rem; */
  }
  form .input_cont{
    width: 46%;
    max-width: 46%;
    margin-bottom: 30px;
  }
  form .input_cont1{
    width: 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
  form .input_cont2{
    margin-bottom: 30px;

  }
  form label{
    font-size: 16px;
  }
  form input::placeholder{
    font-size: 14px;
  }
  form textarea::placeholder{
    font-size: 14px;
  }
  .submit_btn{
    width: 6rem;
    height:2.5rem ;
    font-size: 15px;
    margin-bottom: 20px;
  }

}
@media only screen and (max-width: 730px) {
  .foot {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .foot .company-info a {
    margin-top: 2px;
  }
  .foot .credit p {
    margin-top: 2px;
  }
  .side_menu {
    display: block;
  }
  .side_menu .menu a {
    font-size: 19px;
  }
  .side_menu .menu a.active {
    font-size: 21px;
  }
  .butterfly_section .butterfly_content .butterfly_body {
    height: 180px;
    width: 180px;
  }
  .butterfly_body .wing_content .wing_number {
    font-size: 2.5rem;
  }
  .butterfly_body .wing_content .wing_text {
    font-size: 17px;
  }
  .butterfly_content .wing{
    height: 190px;
    width: 240px;
    font-size: 1.1rem;
  }
  .butterfly_content .wing_top_left {
   transform: translate(38px, 70px);
  }
  .butterfly_content .wing_top_right {
   transform: translate(-38px, 70px);
  }
  .butterfly_content .wing_bottom_left {
   transform: translate(38px, -70px);
  }
  .butterfly_content .wing_bottom_right {
   transform: translate(-38px, -70px);
  }
  .butterfly_content .wing_top_left:hover {
   transform: translate(38px, 70px);
  }
  .butterfly_content .wing_top_right:hover {
   transform: translate(-38px, 70px);
  }
  .butterfly_content .wing_bottom_left:hover {
   transform: translate(38px, -70px);
  }
  .butterfly_content .wing_bottom_right:hover {
   transform: translate(-38px, -70px);
  }
  .Contact_cont{
    padding: 3rem;
  }
}
@media only screen and (max-width: 687px) {
  .hero_subtitle {
    font-size: 50px;
    line-height: 0.9;
  }
  .hero_title {
    font-size: 90px;
  }
  .hero_description {
    font-size: 23px;
    max-width: 26rem;
  }
  .butterfly_section .butterfly_content .butterfly_body {
    height: 160px;
    width: 160px;
  }
  .butterfly_body .wing_content .wing_number {
    font-size: 2rem;
  }
  .butterfly_body .wing_content .wing_text {
    font-size: 16px;
  }
  .butterfly_content .wing{
    height: 170px;
    width: 220px;
    font-size: 1rem;
  }
  .butterfly_content .wing_top_left {
   transform: translate(38px, 60px);
  }
  .butterfly_content .wing_top_right {
   transform: translate(-38px, 60px);
  }
  .butterfly_content .wing_bottom_left {
   transform: translate(38px, -60px);
  }
  .butterfly_content .wing_bottom_right {
   transform: translate(-38px, -60px);
  }
  .butterfly_content .wing_top_left:hover {
   transform: translate(38px, 60px);
  }
  .butterfly_content .wing_top_right:hover {
   transform: translate(-38px, 60px);
  }
  .butterfly_content .wing_bottom_left:hover {
   transform: translate(38px, -60px);
  }
  .butterfly_content .wing_bottom_right:hover {
   transform: translate(-38px, -60px);
  }
  .Project_section .project_head{
    font-size: 2rem;
  }
  .Project_section .project_head::before,
  .Project_section .project_head::after{
    content: "";
    width: 100px;
    position: absolute;
    top: 70%;
    height: 2px;
    background: #222;
  }
  .Project_section .project_container .project .project_title h2{
    font-size: 1.6rem;
    text-align: center;
  }
  .Project_section .project_container .project .project_content{
    gap: 1rem;
  }
  .project .project_content .project_content_media .media_displayer{
    height: 460px;
    width: 360px;
  }
  .project .project_content .project_content_media .media_displayer .media_cont{
    min-width: 335px;
  }
  .project .project_content .project_content_media .swipe_btn{
    font-size: 19px;
    height: 34px;
    width: 34px;
  }
  .Project_section .project_container .project .project_content .project_description{
    font-size: 1.1rem;
    padding: 3rem 0rem;
  }
  .NGO_cont{
    gap: 65px;
  }
  .NGO_cont .SBSO{
   width: 65%;
   min-width:65%;
   height: 60vh;
  }
  form input::placeholder{
    font-size: 14px;
  }
  form textarea::placeholder{
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  /* .butterfly_section {
    padding: 2rem;
  } */
  .butterfly_section .butterfly_content .butterfly_body {
    height: 140px;
    width: 140px;
  }
  .butterfly_body .wing_content .wing_number {
    font-size: 1.8rem;
  }
  .butterfly_body .wing_content {
    width: 120px;
  }
  .butterfly_body .wing_content .wing_text {
    font-size: 14px;
  }
  .butterfly_content .wing{
    height: 150px;
    width: 200px;
    font-size: 0.9rem;
  }
  .butterfly_content .wing_top_left {
   transform: translate(38px, 50px);
  }
  .butterfly_content .wing_top_right {
   transform: translate(-38px, 50px);
  }
  .butterfly_content .wing_bottom_left {
   transform: translate(38px, -50px);
  }
  .butterfly_content .wing_bottom_right {
   transform: translate(-38px, -50px);
  }
  .butterfly_content .wing_top_left:hover {
   transform: translate(38px, 50px);
  }
  .butterfly_content .wing_top_right:hover {
   transform: translate(-38px, 50px);
  }
  .butterfly_content .wing_bottom_left:hover {
   transform: translate(38px, -50px);
  }
  .butterfly_content .wing_bottom_right:hover {
   transform: translate(-38px, -50px);
  }
  .Project_section .project_head{
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }
  .Project_section .project_head::before,
  .Project_section .project_head::after{
    content: "";
    width: 80px;
    position: absolute;
    top: 70%;
    height: 2px;
    background: #222;
  }
  .Project_section .project_container .project .project_title h2{
    font-size: 1.4rem;
    text-align: center;
  }
  .project .project_content .project_content_media .media_displayer{
    height: 440px;
    width: 340px;
  }
  .project .project_content .project_content_media .media_displayer .media_cont{
    min-width: 315px;
  }
  .project .project_content .project_content_media .swipe_btn{
    font-size: 18px;
    height: 33px;
    width: 33px;
  }
  .Project_section .project_container .project .project_content .project_description{
    font-size: 1rem;
    padding: 3rem 0rem;
  }
  .NGO_cont{
    gap: 60px;
  }
  .NGO_cont .SBSO{
   width: 70%;
   min-width:70%;
   height: 55vh;
  }
  .Contact_cont{
    margin-top: 50px;
    padding: 2rem;
    margin-bottom: 30px;
  }
  .Contact_cont .sub_cont1{
    width: 100%;
  }
  .Contact_cont .sub_cont1 .head1{
    font-size: 30px;
    padding: 1.5rem;
  }
  .Contact_cont .main_con{
    padding-top: 1.5rem;
  }
  .main_con .Contact_desc{
    padding: 1rem;
    width: 96%;
  }
  .main_con .Contact_desc i{
    font-size: 24px;
  }
  .main_con .Contact_desc p{
    font-size: 14px;
    margin-right: 14px;
  }
  form{
    margin-top: 2rem;
    /* gap: 0.8rem; */
  }
  form .input_cont{
    width: 46%;
    max-width: 46%;
    margin-bottom: 30px;
  }
  form .input_cont1{
    width: 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
  form .input_cont2{
    margin-bottom: 30px;

  }
  form label{
    font-size: 15px;
  }
  form input::placeholder{
    font-size: 13px;
  }
  form textarea::placeholder{
    font-size: 13px;
  }
  .submit_btn{
    width: 6rem;
    height:2.4rem ;
    font-size: 12px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 520px) {
  .Project_section .project_head::before,
  .Project_section .project_head::after{
    content: "";
    width: 60px;
    position: absolute;
    top: 70%;
    height: 2px;
    background: #222;
  }
  .NGO_cont{
    gap: 55px;
  }
  .SBSO{
   width: 70%;
   min-width:70%;
   height: 50vh;
  }
}
@media only screen and (max-width: 488px) {
  .foot .copy-right p {
    text-align: center;
  }
  .side_menu {
    display: block;
    width: 60%;
    padding: 1.5rem;
  }
  .side_menu .menu a {
    font-size: 18px;
  }
  .side_menu .menu a.active {
    font-size: 20px;
  }
  .hero_subtitle {
    font-size: 45px;
    line-height: 0.9;
    letter-spacing: -1px;
  }
  .hero_title {
    font-size: 80px;
  }
  .hero_description {
    font-size: 20px;
    max-width: 26rem;
  }
  .butterfly_section .butterfly_content .butterfly_body {
    height: 100px;
    width: 100px;
  }
  .butterfly_body .wing_content .wing_number {
    font-size: 1.4rem;
  }
  .butterfly_body .wing_content {
    width: 90px;
  }
  .butterfly_body .wing_content .wing_text {
    font-size: 10px;
  }
  .butterfly_content .wing{
    height: 110px;
    width: 150px;
    font-size: 0.7rem;
  }
  .butterfly_content .wing_top_left {
   transform: translate(40px, 30px);
  }
  .butterfly_content .wing_top_right {
   transform: translate(-40px, 30px);
  }
  .butterfly_content .wing_bottom_left {
   transform: translate(40px, -30px);
  }
  .butterfly_content .wing_bottom_right {
   transform: translate(-40px, -30px);
  }
  .butterfly_content .wing_top_left:hover {
   transform: translate(40px, 30px);
  }
  .butterfly_content .wing_top_right:hover {
   transform: translate(-40px, 30px);
  }
  .butterfly_content .wing_bottom_left:hover {
   transform: translate(40px, -30px);
  }
  .butterfly_content .wing_bottom_right:hover {
   transform: translate(-40px, -30px);
  }
  .Project_section .project_head{
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .Project_section .project_head::before,
  .Project_section .project_head::after{
    content: "";
    width: 50px;
    position: absolute;
    top: 70%;
    height: 2px;
    background: #222;
  }
  .Project_section .project_container .project .project_title h2{
    font-size: 1.3rem;
    text-align: center;
  }
  .project .project_content .project_content_media .media_displayer{
    height: 400px;
    width: 300px;
  }
  .project .project_content .project_content_media .media_displayer .media_cont{
    min-width: 275px;
  }
  .project .project_content .project_content_media .swipe_btn{
    font-size: 18px;
    height: 32px;
    width: 32px;
  }
  .Project_section .project_container .project .project_content .project_description{
    font-size: 0.9rem;
    padding: 3rem 0rem;
    width: 100%;
  }
  .NGO_cont{
    gap: 55px;
  }
  .NGO_cont .SBSO{
   width: 70%;
   min-width:70%;
   height: 50vh;
  }
  .Contact_cont{
    margin-top: 50px;
    padding: 2rem;
    margin-bottom: 30px;
  }
  .Contact_cont .sub_cont1{
    width: 100%;
  }
  .Contact_cont .sub_cont1 .head1{
    font-size: 28px;
    padding: 1.5rem;
  }
  .Contact_cont .main_con{
    padding-top: 1.5rem;
  }
  .main_con .Contact_desc{
    padding: 1rem;
    width: 96%;
  }
  .main_con .Contact_desc i{
    font-size: 22px;
  }
  .main_con .Contact_desc p{
    font-size: 12px;
    margin-right: 12px;
  }
  form{
    margin-top: 2rem;
    /* gap: 0.8rem; */
  }
  form .input_cont{
    width: 46%;
    max-width: 46%;
    margin-bottom: 30px;
  }
  form .input_cont1{
    width: 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
  form .input_cont2{
    margin-bottom: 30px;

  }
  form label{
    font-size: 14px;
  }
  form input::placeholder{
    font-size: 12px;
  }
  form textarea::placeholder{
    font-size: 12px;
  }
  .submit_btn{
    width: 6rem;
    height:2.5rem ;
    font-size: 12px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .Project_section .project_head{
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }
  .Project_section .project_head::before,
  .Project_section .project_head::after{
    content: "";
    width: 40px;
    position: absolute;
    top: 70%;
    height: 2px;
    background: #222;
  }
  .Project_section .project_container .project .project_title h2{
    font-size: 1.1rem;
    text-align: center;
  }
  .project .project_content .project_content_media .media_displayer{
    height: 360px;
    width: 260px;
  }
  .project .project_content .project_content_media .media_displayer .media_cont{
    min-width: 240px;
  }
  .project .project_content .project_content_media .swipe_btn{
    font-size: 15px;
    height: 30px;
    width: 30px;
  }
  .Project_section .project_container .project .project_content .project_description{
    font-size: 0.8rem;
    padding: 2rem 0rem;
    width: 100%;
    margin: auto;
  }
  .NGO_cont{
    gap: 50px;
    margin-bottom: 60px;
  }
  .NGO_cont .SBSO{
   width: 70%;
   min-width:70%;
   height: 45vh;
  }
  .Contact_cont{
    margin-top: 50px;
    padding: 1rem;
    margin-bottom: 30px;
  }
  .Contact_cont .sub_cont1{
    width: 100%;
  }
  .Contact_cont .sub_cont1 .head1{
    font-size: 26px;
    padding: 1rem;
  }
  .Contact_cont .main_con{
    padding-top: 1.5rem;
  }
  .main_con .Contact_desc{
    padding: 0.8rem;
    width: 96%;
  }
  .main_con .Contact_desc i{
    font-size: 20px;
  }
  .main_con .Contact_desc p{
    font-size: 10px;
    margin-right: 10px;
  }
  form{
    margin-top: 2rem;
    /* gap: 0.8rem; */
  }
  form .input_cont{
    width: 46%;
    max-width: 46%;
  }
  form .input_cont1{
    width: 50%;
    max-width: 50%;
  }
  form label{
    font-size: 13px;
  }
  form input::placeholder{
    font-size: 10px;
  }
  form textarea::placeholder{
    font-size: 10px;
  }
  .submit_btn{
    width: 5rem;
    height:2rem ;
    font-size: 11px;
  }
}