@media only screen and (max-width: 921px) {
  .head {
    padding: 0.2rem;
  }
  .head .logo {
    height: 70px;
    width: 70px;
  }
  .head .head_cont2 {
    gap: 80px;
    padding-right: 50px;
  }
  .head .head_cont2 a {
    font-size: 16px;
  }
  .head_cont2 .panel i {
    font-size: 18px;
  }
  .head_cont2 .black-white_icon {
    font-size: 23px;
  }
  .foot .company-info {
    font-size: 0.8rem;
  }
  .foot .copy-right {
    font-size: 0.8rem;
  }
  .foot .copy-right .icons a {
    font-size: 0.9rem;
  }
  .foot .credit {
    font-size: 0.8rem;
  }
  .hero_subtitle {
    font-size: 75px;
  }
  .hero_title {
    font-size: 145px;
  }
  .hero_description {
    font-size: 26px;
  }
  .main_content{
    padding-top: 78px;
  }
}
@media only screen and (max-width: 790px) {
  .head {
    padding: 0.3rem;
    justify-content: space-between;
  }
  .head .sidebar {
    display: flex;
    margin-left: 20px;
  }
  .head .sidebar i {
    border-radius: 5px;
    border: 1px solid var(--head_textcolor);
  }
  .head .logo {
    height: 70px;
    width: 70px;
    margin-left: 0;
  }
  .head_cont2 .panel {
    display: none;
  }
  .head .head_cont2 {
    padding-right: 20px;
  }
  .head_cont2 .black-white_icon {
    font-size: 25px;
  }
  .side_menu {
    display: block;
  }
  .hero_subtitle {
    font-size: 65px;
  }
  .hero_title {
    font-size: 130px;
  }
  .hero_description {
    font-size: 25px;
  }
}
@media only screen and (max-width: 730px) {
  .foot {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .foot .company-info a {
    margin-top: 2px;
  }
  .foot .credit p {
    margin-top: 2px;
  }
  .side_menu {
    display: block;
  }
  .side_menu .menu a {
    font-size: 19px;
  }
  .side_menu .menu a.active {
    font-size: 21px;
  }
}
@media only screen and (max-width: 687px) {
  .hero_subtitle {
    font-size: 50px;
    line-height: 0.9;
  }
  .hero_title {
    font-size: 90px;
  }
  .hero_description {
    font-size: 23px;
    max-width: 26rem;
  }
}
@media only screen and (max-width: 488px) {
  .foot .copy-right p {
    text-align: center;
  }
  .side_menu {
    display: block;
    width: 60%;
    padding: 1.5rem;
  }
  .side_menu .menu a {
    font-size: 18px;
  }
  .side_menu .menu a.active {
    font-size: 20px;
  }
  .hero_subtitle {
    font-size: 45px;
    line-height: 0.9;
    letter-spacing: -1px;
  }
  .hero_title {
    font-size: 80px;
  }
  .hero_description {
    font-size: 20px;
    max-width: 26rem;
  }
}
