*{
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans';
  box-sizing: border-box;
}
:root{
  --head_textcolor:#333;
  --head_bgcolor:#cad8db59;

}
body{
  --head_textcolor:#333;
  --head_bgcolor:#f5f5f3;
  --sidebar_bgcolor:#000000e0;
  --sidebar_textcolor:#F5F5F5;
  --hero_bgcolor: #f2f2ee;
  --hero_titlecolor:#C74A9B;
  --hero_btncolor:#C32921;
  --vision_bg: #EEF3F9;
}
.head{
  padding: 0.3rem;
  color:var(--head_textcolor);
  background-color: var(--head_bgcolor);
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
.head .sidebar{
  font-size: 24px;
  /* display: flex; */
  justify-content: center;
  display: none;
  align-items: center;
}
.head .sidebar i{
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.3rem 0.6rem;
  transition:all 0.3s ease;
}
.head .sidebar i:hover{
  cursor: pointer;
  opacity: 0.8;
  scale: 0.95;
}
.head .logo{
  height: 80px;
  width: 80px;
  margin-left: 60px;
}
.head .logo:hover{
  cursor: pointer;
}
.head .logo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.head_cont1 .logo:hover{
  cursor: pointer;
}
.head .head_cont2{
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.head .head_cont2 a{
  text-decoration: none;
  color: var(--head_textcolor);
  font-weight: 750;
  font-size: 18px;
}
.head_cont2 .panel{
  display: flex;
  gap: 5px;
  position: relative;
}
.head_cont2 .panel i{
  font-size: 20px;
  align-items: center;
}

.head_cont2 .panel::after{
  content: "";
  bottom: -7px;
  left: 0;
  height: 3px;
  position: absolute;
  width: 0;
  border-radius: 5px;
  transition: width 0.4s ease-in;
  background-color: var(--head_textcolor);
}
.head_cont2 .panel:hover::after{
  width: 105%;
}
.head_cont2 .panel.active::after{
  content: "";
  bottom: -7px;
  left: 0;
  height: 3px;
  background-color: var(--head_textcolor);
  position: absolute;
  width: 105%;
  border-radius: 5px;
  transition: width 0.4s ease-in;
}
.head_cont2 .panel.active{
  color: var(--head_textcolor);
  font-weight: 800;
}

.head_cont2 .black-white_icon{
  font-size: 25px;
  margin-right: 20px;
}
.head_cont2 .black-white_icon:hover{
  cursor: pointer;
}
.foot{
  padding: 1.2rem;
  background-color: #1f1b17;
  width: 100%;
  color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
}
.foot .company-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  flex-wrap: wrap;
}
.foot .company-info a{
  text-decoration: none;
  color:#919191;
  margin-top: 10px;
  font-weight: 600;
}
.foot .company-info a:hover{
  color: rgba(116, 0, 142, 0.877);
}
.foot .copy-right{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 500;
  flex-wrap: wrap;
}
.foot .copy-right .icons{
  display: flex;
  gap: 13px;
}
.foot .copy-right .icons a{
  text-decoration: none;
  color: #919191;
  margin-top: 15px;
  font-size: 0.95rem;
}
.foot .copy-right .icons a.fa-facebook:hover{
  color: #1877F2;
}
.foot .copy-right .icons a.fa-instagram:hover{
  color: #E4405F;
}
.foot .copy-right .icons a.fa-youtube:hover{
  color:#FF0000;
}
.foot .copy-right .icons a.fa-twitter:hover{
  color:#FFFFFF ;
}
.foot .credit{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  flex-wrap: wrap;
}
.foot .credit p{
  margin-top: 10px;
  font-weight: 600;
  color:#919191;
}
.foot .credit p:hover{
  color: rgba(116, 0, 142, 0.877);
  cursor: pointer;
}
.side_menu{
  background-color:var(--sidebar_bgcolor);
  height: 100vh;
  top: 100%;
  position: absolute;
  opacity: 0.98;
  width: 50%;
  left: -390px;
  padding: 1.5rem;
  transition:left 0.6s ease;
  display: none;
  border-top: 1px solid var(--head_bgcolor);
  /* backdrop-filter: blur(-100px); */
  box-shadow: 1px 0 8px rgba(0, 0, 0, 0.06);
}
.side_menu.active{
  left: 0;
}
.side_menu .menu{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.side_menu .menu a{
  text-decoration: none;
  color: var(--sidebar_textcolor);
  font-size: 20px;
  font-weight: 700;
  transition: color 0.4s;
  
}
.side_menu .menu a.active{
  color: #ff4800;
  font-size: 22px;
  font-weight: bolder;
}
.side_menu .menu a:hover{
  color: #ff4800;
}
.main_content{
  padding-top: 90.9px;
}
.hero{
  text-align: center;
  background:var(--hero_bgcolor) ;
  border-top: 1px solid var(--head_bgcolor);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.hero_subtitle{
  font-size: 80px;
  font-weight: 500;
  color:var(--head_textcolor);
  flex-wrap: wrap;
  letter-spacing: -3px;

}
.hero_title{
  font-size: 170px;
  font-weight: 400;
  line-height: 0.80;
  text-align: center;
  font-family: 'Abhaya Libre';
  margin-bottom: 30px;
  color: var(--hero_titlecolor);
  letter-spacing: -5px;
}
.hero_description{
  max-width: 32rem;
  line-height: 1.5;
  color: var(--head_textcolor);
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -0.1px;
}
.hero_btn{
  text-decoration: none;
  color: var(--hero_btncolor);
  font-weight: 700;
  font-size: 19px;
  border: 3px solid var(--hero_btncolor);
  padding: 8px;
  border-radius: 8px;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 40px;
  transition:all 0.4s ease ;
}
.hero_btn:hover{
  color: #F5F5F5;
  background: var(--hero_btncolor);
}
.butterfly_section{
  padding: 3rem;
  background: var(--vision_bg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.butterfly_section .butterfly_content{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
}
.butterfly_section .butterfly_content .butterfly_body{
  grid-column: 2;
  grid-row: 2;
  width: 240px;
  height: 240px;
  text-align: center;
  border-radius: 50%;
  background:  #EAB308;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
  z-index: 10;
}
.butterfly_content .wing_top_left{
  grid-column: 1;
  grid-row: 1;
  background:  #EF4444;
  border-radius: 0% 30% 0 40%;
  transform: translate(38px, 38px);

}
.butterfly_content .wing_top_right{
  grid-column: 3;
  grid-row: 1;
  border-radius: 30% 0% 40% 0;
  background: #22C55E;
  transform: translate(-38px, 38px);
}
.butterfly_content .wing_bottom_left{
  grid-column: 1;
  grid-row: 3;
  border-radius: 20% 0% 40% 0%;
  background: #3B82F6;
  transform: translate(38px, -38px);
}
.butterfly_content .wing_bottom_right{
  grid-column: 3;
  grid-row: 3;
  border-radius: 0% 20% 0% 30%;
  background:#C74A9B;
  transform: translate(-38px, -38px);
}
.butterfly_content .wing{
  height:240px ;
  width: 300px;
  padding: 20px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.08);
  transition: 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}