*{
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans';
  box-sizing: border-box;
}
:root{
  --head_textcolor:#333;
  --head_bgcolor:#cad8db59;

}
body{
  --head_textcolor:#333;
  --head_bgcolor:#cad8db59;
}
.head{
  padding: 0.3rem;
  color:var(--head_textcolor);
  background-color: var(--head_bgcolor);
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4rem;
}
.head .sidebar{
  font-size: 25px;
  /* display: flex; */
  justify-content: center;
  display: none;
  align-items: center;
}
.head .sidebar i{
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.3rem 0.6rem;
  transition:all 0.3s ease;
}
.head .sidebar i:hover{
  cursor: pointer;
  opacity: 0.8;
  scale: 0.95;
}
.head .logo{
  height: 80px;
  width: 80px;
  margin-left: 60px;
}
.head .logo:hover{
  cursor: pointer;
}
.head .logo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.head_cont1 .logo:hover{
  cursor: pointer;
}
.head .head_cont2{
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.head .head_cont2 a{
  text-decoration: none;
  color: var(--head_textcolor);
  font-weight: 750;
  font-size: 18px;
}
.head_cont2 .panel{
  display: flex;
  gap: 5px;
  position: relative;
}
.head_cont2 .panel i{
  font-size: 20px;
  align-items: center;
}

.head_cont2 .panel::after{
  content: "";
  bottom: -7px;
  left: 0;
  height: 3px;
  position: absolute;
  width: 0;
  border-radius: 5px;
  transition: width 0.4s ease-in;
  background-color: var(--head_textcolor);
}
.head_cont2 .panel:hover::after{
  width: 105%;
}
.head_cont2 .panel.active::after{
  content: "";
  bottom: -7px;
  left: 0;
  height: 3px;
  background-color: var(--head_textcolor);
  position: absolute;
  width: 105%;
  border-radius: 5px;
  transition: width 0.4s ease-in;
}
.head_cont2 .panel.active{
  color: var(--head_textcolor);
  font-weight: 800;
}

.head_cont2 .black-white_icon{
  font-size: 25px;
}
.head_cont2 .black-white_icon:hover{
  cursor: pointer;
}